@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

/* Preloader styles */
.loader-bg {
  position: fixed;
  z-index: 99999;
  background: rgb(19, 18, 18);
  height: 100%;
  width: 100%;
  opacity: 1;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 45vh;
  left: 45vw;
}

.loader img {
  height: 20vh;
  animation: loader 0.7s linear infinite alternate;
}

@keyframes loader {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-25%);
  }
}

/* Import the rest of your CSS from landing_styles.css */